<!DOCTYPE html>
<html>
<head>
	<title>Gruntfile generator</title>
	<link rel="stylesheet" href="http://bootswatch.com/yeti/bootstrap.min.css">
	<link rel="stylesheet" href="css/autocomplete.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
	<script src="js/autocomplete.js"></script>
	<script src="js/filesaver.js"></script>
	<script src="js/gruntfile-gen.js"></script>
	<style>
		pre {
			font-size: 0.75em;
			tab-size: 3;
		}
	</style>
</head>
<body ng-app="gruntfile-gen">
	<div class="container" ng-controller="PackageCtrl">
		<div class="col-md-7">
			<div class="page-header">
				<h1>Gruntfile generator</h1>
			</div>
			<form role="form">
				<div class="form-group">
					<autocomplete on-select="addPackage" click-activation="true" ng-model="selectedPackage" attr-placeholder="Start typing to add package..." data="names" attr-input-class="form-control" />
				</div>
			</form>

			<div class="panel panel-default" ng-repeat="(name, package) in selectedPackages">
				<div class="panel-heading">
					<h1 class="panel-title"><a href="{{ package.url }}" target="_blank">{{ name }}</a><span ng-click="removePackage(name)" class="glyphicon glyphicon-remove pull-right"></span></h1>
				</div>
				<div class="panel-body">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label class="col-sm-3 control-label" title="{{ option.description }}">Version</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" ng-model="package.version" />
							</div>
						</div>

						<div class="form-group" ng-repeat="option in package.options">
							<label class="col-sm-3 control-label"><abbr title="{{ option.description }}">{{ option.name }}</abbr></label>
							<div class="col-sm-9">
								<input type="text" class="form-control" ng-model="option.value" placeholder="{{ option.placeholder }}" />
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="col-md-5">
<h3>package.json<a href="#" ng-click="savePackage()" class="pull-right"><span class="glyphicon glyphicon-download-alt"></span></a></h3>
<pre id="package">
{
    'name' : 'MySite',
    'title' : 'MySite',
    'version' : '0.0.1',
    'devDependencies': {
    	<span ng-repeat="(name, package) in selectedPackages">'{{ name }}': '{{ package.version }}'<span ng-if="!$last">,
		</span></span>
    }
}
</pre>

<h3>Gruntfile.js<a href="#" ng-click="saveGruntfile()" class="pull-right"><span class="glyphicon glyphicon-download-alt"></span></a></h3>
<pre id="gruntfile">
module.exports = function(grunt) {
	grunt.initConfig({
		pkg: grunt.file.readJSON('package.json'),
		<span ng-repeat="package in selectedPackages">
		{{ package.task }}: {
			example: {
				{{makeTemplate(package)}}
			}
		}<span ng-if="!$last">,</span></span>

	});
	<span ng-repeat="(name, package) in selectedPackages">grunt.loadNpmTasks('{{ name }}');
	</span>
	grunt.registerTask('default', [<span ng-repeat="package in selectedPackages">'{{ package.task }}'<span ng-if="!$last">, </span></span>]);
};
</pre>
		</div>

	</div>
</body>
</html>