<!DOCTYPE html>
<html>
<head>
	<title>Gruntfile boilerplate generator</title>
	<link rel="stylesheet" href="http://bootswatch.com/yeti/bootstrap.min.css">
	<link rel="stylesheet" href="css/autocomplete.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
	<script src="js/autocomplete.js"></script>
	<script src="js/filesaver.js"></script>
	<script src="js/gruntfile-gen.js"></script>
	<style>
		pre {
			font-size: 0.75em;
			tab-size: 3;
		}
	</style>
</head>
<body ng-app="gruntfile-gen">
	<div class="container" ng-controller="PackageCtrl">
		<div class="col-md-7">
			<div class="page-header">
				<h1>Gruntfile boilerplate generator</h1>
			</div>
			<form role="form">
				<div class="row">
					<div class="form-group col-sm-9">
						<label>App title</label>
						<input type="text" class="form-control" ng-model="settings.title" />
					</div>

					<div class="form-group col-sm-3">
						<label>App version</label>
						<input type="text" class="form-control" ng-model="settings.appVersion" />
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-2">
						<label>Grunt version</label>
						<input type="text" class="form-control" ng-model="settings.gruntVersion" />
					</div>
					<div class="form-group col-sm-4">
						<label>File format</label>
						<select class="form-control" ng-model="settings.fileFormat">
							<option value="compact">compact</option>
							<option value="object">object</option>
						</select>
					</div>
					<div class="form-group col-sm-3">
						<label>Indent using</label>
						<select class="form-control" ng-model="settings.indentation">
							<option value="tabs" selected>tabs</option>
							<option value="spaces">spaces</option>
						</select>
					</div>
					<div class="form-group col-sm-3" ng-hide="settings.indentation == 'tabs'">
						<label>Number of spaces</label>
						<input type="text" class="form-control" ng-model="settings.spaces" />
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="form-group col-sm-12">
						<autocomplete on-select="addPackage" on-type="updateNames" click-activation="true" ng-model="selectedPackage" attr-placeholder="Start typing to add package..." data="names" attr-input-class="form-control" />
					</div>
				</div>
			</form>

		
			<div class="panel panel-default" ng-repeat="(i, package) in selectedPackages" ng-sort="selectedPackages:{{i}}">
				<div class="panel-heading">
					<h1 class="panel-title"><a href="{{ package.url }}" target="_blank">{{ package.name }}</a><span ng-click="removePackage(package.name)" class="glyphicon glyphicon-remove pull-right"></span></h1>
				</div>
			</div>
		</div>

		<div class="col-md-5">
			<h3>package.json<a href="#" ng-click="savePackage()" class="pull-right"><span class="glyphicon glyphicon-download-alt"></span></a></h3>
			<pre>{{ getPackageFile() }}</pre>

			<h3>Gruntfile.js<a href="#" ng-click="saveGruntfile()" class="pull-right"><span class="glyphicon glyphicon-download-alt"></span></a></h3>
			<pre>{{ getGruntfile() }}</pre>
		</div>
</div>
</body>
</html>